@import 'variables';

%anchor-skip-underline {
  text-decoration: none;
  text-shadow: -2px 0 0 #fff, 2px 0 0 #fff, 0 -2px 0 #fff, 0 1px 0 #fff;
  background-image: linear-gradient(to bottom, transparent 75%, $text-color 75%);
  background-repeat: repeat-x;
  background-size: 2px .1em;
  background-position: 0 calc(1em + 2px);

  &:hover {
    background-image: linear-gradient(to bottom, transparent 75%, red 75%);
  }
}

%reset-anchor-style {
  background: none;
  text-decoration: none;

  &:active,
  &:focus {
    color: $text-color;
  }
}
