@import '~assets/variables';

/* general */
body {
  margin: 0;
  font-family: $font-family-shs;
}

header {
  font-family: $font-family-avenir;
}

body, a, div, span, p, li, h1, h2, h3, h4, h5, h6 {
  color: $text-color;
}

h2 {
  margin-bottom: 1rem;
}

a {
  cursor: pointer;
  transition: color 0.2s ease;

  &:hover {
    color: red;
  }
}

ul {
  margin: 0;
  padding: 0;
  padding-left: 18px;
}

li {
  list-style-type: none;

  &:before {
    content: '\BB';
    margin-left: -18px;
    padding-right: 10px;
  }
}

* {
  box-sizing: border-box;
}
